.space-between-them {
  margin-left: 20px;
}

.text-decoration {
  text-decoration: none;
  color: #ffffff;
}
.top-header {
  margin-top: 30px;
}
.image-widthing {
  height: 50px;
  padding-top: 10px;
}
